<html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index_croppred_page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
</head>

<body>
  <div class="wholecontainer">
    
    <nav class="navbar">
      <div class="container5">
          <div class="logo"><img src="" alt=""></div>

          <div class="nav-link">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/click_for_pred">Crop prediction</a></li>
                <li><a href="/index_fert">Fertilizer prediction</a></li>
                <li><a href="/about">About</a></li>
              </ul>
          </div>
          
      </div>
  </nav>

  
  <section class="container">
    <div class="titlehead">
      <h1>Crop Prediction</h1>
    </div>
    
      <div class="col-8">
        <form method="POST" action="http://localhost:5000/results_crop">
          <div class="container2">
            <div class="row1">
              <div class="form-group col-md-4">
                <label for="temperature">Temperature</label>
                <input
                  type="text"
                  class="form-control"
                  id="temperature"
                  name="temperature"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label for="Humidity">Humidity</label>
                <input
                  type="text"
                  class="form-control"
                  id="humidity"
                  name="humidity"
                  required
                />
              </div>
            </div>
            <div class="row2">
              <div class="form-group col-md-4">
                <label for="ph">Soil pH</label>
                <input type="text" class="form-control" id="ph" name="ph" required/>
              </div>
              <div class="form-group col-md-4">
                <label for="rainfall">Rainfall</label>
                <input
                  type="text"
                  class="form-control"
                  id="rainfall"
                  name="rainfall"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row3">
            <button type="submit" class="col-md-3 m-4 btn btn-primary">
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="col-4">
        <div class="row4">
          <h3>Most Suitable Crop</h3>
          <h4>{{crop}}</h4>
        </div>
      </div>
    
      <form method="post" action="http://localhost:5000/index_fert">
        <button type="submit" class="col-md-2 btn btn-primary">Go to fertilizer Prediciton</button>
      </form>
    
    
  </section>
</div>
</body>
</html>
