<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="cotainer2">
            <div class="logo"><img src="" alt=""></div>
  
            <div class="nav-link">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/click_for_pred">Crop prediction</a></li>
                  <li><a href="/index_fert">Fertilizer prediction</a></li>
                  <li><a href="/about">About</a></li>
                </ul>
            </div>
            
        </div>
      </nav>

      <section class="container">
        <h1 class="titleheading">About</h1>
        <p>Web application for the prediction of crop and fertilizer</p>
      </section>
    
</body>
</html>